<% if @user.errors.any? %>
<div id="error_explanation">
  <h3><%= pluralize(@user.errors.count, "error") %> prohibited this <%= @user.name %> from being saved:</h3>
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
</div>
<% end %>


<%= form_with(model: @user, local: true) do |f| %>
<p>
  <%= f.label :name %>
  <%= f.text_field :name %>
</p>
<p>
  <%= f.label :nickname %>
  <%= f.text_field :nickname %>
</p>
<p><%= f.label :image, "Profile image" %>
  <%= f.file_field :image %>
</p>
<p>
  <%= f.label :birthday %>
  <%= raw sprintf(
              f.date_select(
                  :birthday,
                  use_month_numbers: true,
                  start_year:        1950,
                  end_year:          (Time.now.year - 18),
                  default:           Date.new(1988, 1, 1),
                  date_separator:    '%s'),
              '年 ', '月 ') + '日'
   %>
</p>
<p>
  <%= f.label :email %>
  <%= f.email_field :email %>
</p>
<p>
  <%= f.label :password %>
  <%= f.password_field :password %>
</p>
<p>
  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>
</p>

<p><%= f.submit "Sign Up!" %></p>
<% end %>
