  <h3><%= @user.name %></h3>
  <% if @user.image? %>
    <p><%= image_tag(@user.image.url, :size => "80x80") %></p>
  <% else %>
    <p><%= image_tag("/assets/default.png", :size => "80x80") %></p>
  <% end %>
  <p>Nickname:<%= @user.nickname %></p>
  <p>Birthday<%= @user.birthday %></p>
  <p>Email:<%= @user.email %></p>

  <% if @current_user.id == @user.id %>
    <%= link_to "Edit", edit_user_path(@user.id) %>
    <%= link_to 'Delete', new_user_path, method: :delete, data: { confirm: '本当に削除してもいいですか？' }%>
  <% end %>
