<%= form_with(model: picture, local: true, url: choose_new_or_edit) do |form| %>
<% if @picture.errors.any? %>
  <div id="error_explanation">
    <h2><%= @picture.errors.count %>件のエラーがあります。</h2>
    <ul>
      <% @picture.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
  </div>
<% end %>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>

  <div class="field">
    <%= form.label :post_image, 'image' %>
    <%= image_tag(@picture.post_image.url)if @picture.post_image && @picture.post_image.url %>
    <%= form.file_field :post_image %>
    <%= form.hidden_field :post_image_cache %>
  </div>
  <br>
  <div class="actions">
    <%= form.submit "To post!", class: "btn btn-warning" %>
  </div>
<% end %>
