<!DOCTYPE html>
<html>
  <head>
    <title>InstagramClone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="sticky-top">
      <div calss="header_layout">
          <h3 class="logo"><%= link_to "InstagramClone", pictures_path %></h3>
          <p  class="header_menu">
            <% if logged_in? %>
              <%= link_to "Profile", user_path(current_user.id) %>
              <%= link_to "PostList", pictures_path(current_user.id) %>
              <%= link_to "Logout", session_path(current_user.id), method: :delete %>
            <% else %>
              <%= link_to "Sign up", new_user_path %>
              <%= link_to "Login", new_session_path %>
          <% end %>
          <p id="notice"><%= notice %></p>
      </div>
    </header>
    <div class="container">
      <div class="row">
        <div class="col-md-offset-3 col-md-9">
          <br>
          <%= yield %>
        </div>
      </div>
    </div>

  </body>
</html>
